@import "tailwindcss";

html{overflow-x: hidden;}
*{
  scroll-behavior: smooth;
}
body,
html {


  font-family: "Inter Tight", sans-serif;

margin:0 auto;
}

.btn {
  padding: 12px 22px;
  transition: 0.3s ease;
}



.get-in-touch-button::before,
.get-in-touch-button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.get-in-touch-button::before {
  left: 50%;
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
}

.get-in-touch-button::after {
  left: 55%;
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #55d0ff;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
}

.get-in-touch-button:hover::before {
  top: -35%;
  background-color: #55d0ff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.get-in-touch-button:hover::after {
  top: -45%;
  background-color: #55d0ff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.get-in-touch-button:hover {
  border-color: #55d0ff;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.smooth-spin {
  animation: rotate 10s linear infinite;
}

.blog ul li img {
  width: -webkit-fill-available;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}


.servs {position: relative; overflow: clip; }
.servs li{position: sticky; top:0}
.whats{z-index:9999}

table {
  width: 100%;
  min-width: 300px;
  border-collapse: collapse;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  margin: 2rem 0;
  border-radius: 6px;
  overflow: hidden;
}

/* Table header */
 thead {
  background-color: #cfd8fa;
  color: #333;
  font-weight: 600;
}

thead p{
  background-color: #55d0ff;
}

 th {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 2px solid #e1e1e1;
}

/* Table body */
table tbody td {
  padding: 12px 16px;
  border-bottom: 1px solid #f0f0f0;
  vertical-align: middle;
}

/* Hover effect */
table tbody tr:hover {
  background-color: #f9f9fc;
}

/* Zebra striping */
table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.bg-img img{
  margin: 1rem auto;
}